<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="LenzerheideEntities" connectionString="metadata=res://*/Lenzerheide.csdl|res://*/Lenzerheide.ssdl|res://*/Lenzerheide.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=Lenzerheide;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>